@import '../../sass/variables';
@import '../../sass/mixins';

.title {
    margin: 10px 0;
    padding: 6px 0;
    font-weight: 700;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    color: $secondColor;
    background-image: $titleGradient;
}

.prop {
    display: flex;
    gap: 10px;
    margin-top: 10px; 
}

.propName {
    min-width: 80px;
}

.propValue {
    min-width: 150px;
    font-weight: 700;
}

.list {
    margin-top: 12px; 
    list-style: disc; 

    li {
        margin-top: 5px;
        margin-left: 20px;
        font-weight: 700;
    }
}

.schedule {
    margin-bottom: 10px;
    
    li {
        display: flex;

        p {
            padding: 4px;
            border-top: 1px solid;
            border-left: 1px solid;
        }
    }
    
    li:last-child {
        border-bottom: 1px solid;
    }
}

.day {
    width: 150px;
}

.time {
    font-weight: 700;
    width: calc(100% - 120px);
    text-align: center; 
    border-right: 1px solid;
}








