@import '../../sass/variables';
@import '../../sass/mixins';

.form {
    position: relative;
    @extend %flex-center;
    gap: 10px;
    padding-top: 20px;

    div {
        width: 100%;
    }

    input {
        width: 100%;
        padding: 8px;
        font-weight: 700;
        border: 2px solid $secondColor;
        border-radius: 8px;
        box-shadow: $boxShadow;
    }

    p {
        position: absolute;
        bottom: -8px;
        font-size: 9px;
        color: $errorColor
    }
}